@page "/featurepage"
@using Feature
@using Feature.Models 

@* 인증된 사용자만 접근 가능 *@
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@* gRPC 클라이언트 코드를 위한 패키지 참조 *@
@using Grpc.Net.Client

<h1>Feature List</h1>

@if (features == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in features)
            {
                <tr>
                    <td>@f.Id</td>
                    <td>@f.Title</td>
                    <td>@f.Created.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<FeatureModel> features = new List<FeatureModel>();

    protected override async Task OnInitAsync()
    {
        // gRPC 서버에 데이터 요청 후 반환된 리스트를 출력시키는 공식과 같은 코드
        AppContext.SetSwitch("System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport", true);

        var httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri("http://localhost:50051");

        var featureClient = GrpcClient.Create<FeatureService.FeatureServiceClient>(httpClient);
        FeatureReply feature = await featureClient.GetAllAsync(new FeatureRequest { PageNumber = "1" });

        foreach (var f in feature.Features)
        {
            if (!DateTime.TryParse(f.Created, out var now))
            {
                now = DateTime.Now;
            }
            FeatureModel m = new FeatureModel { Id = f.Id, Title = f.Title, Created = now };
            features.Add(m);
        }
    }
}
